# Ignore Stack build files
.stack-work/
stack.yaml.lock

# Ignore local binaries
finance-calc.exe

# Ignore Cabal build files
dist/
dist-newstyle/

# Ignore temporary files
*.hi
*.o
*.so
*.dll
*.dylib
*.out
*.stackdump

# Ignore editor-specific files
.idea/
.vscode/
*.swp

# Ignore system-specific files
.DS_Store
Thumbs.db
